<div class="row  container-fluid justify-content-center ">
  <form class="form-signin col-md-4 frmLogin " [formGroup]="formulario">
    <div class="sombra-border-titulo">
      <div class="d-flex justify-content-center divLogo" [style]="style">

      </div>

      <h1 class="font-weight-normal text-center ">LOGIN</h1>
    </div>
    <div class="col">
      <div>
        <label for="inputEmail">Nombre de usuario</label>
        <input type="email" id="inputEmail" name="CorreoLogin" style="border-radius: 20px"   class="form-control" placeholder="Correo electronico" formControlName="email" [ngClass]="{'is-invalid':  control.email.touched && control.email.errors, 'is-valid':control.email.touched && !control.email.errors}"/>
        <div *ngIf="control.email.errors" class="invalid-feedback">
          <div *ngIf="control.email.errors.required">Se require el nombre de usuario</div>
        </div>
      </div>
      <label for="inputPassword">Contraseña</label>
      <input type="password" id="inputPassword" name="contraseñaLogin" class="form-control" style="border-radius: 20px" placeholder="Contraseña" formControlName="password" [ngClass]="{'is-invalid':  control.password.touched && control.password.errors, 'is-valid':control.password.touched && !control.password.errors}"/>
      <div *ngIf="control.password.errors" class="invalid-feedback">
        <div *ngIf="control.password.errors.required">Se require la contraseña</div>
      </div>
    </div>
    <div class="col">
      <label>Tipo de usuario</label>
      <select class="form-control " style="border-radius: 20px" formControlName="rol"
              [ngClass]="{'is-invalid':control.rol.touched && control.rol.errors}">
        <option value="client">Cliente</option>
        <option value="admin">Administrador</option>
      </select>
      <div *ngIf="control.rol.errors" class="invalid-feedback">
        <div *ngIf="control.rol.errors.required">Se require que seleccione el
          tipo de usuario</div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-dark" (click)="onSubmit()"
              [disabled]="formulario.invalid"><span class="fas fa-sign-in-alt"></span> Inicia sesión</button>
    </div>
    <hr class="lineaFinal">
  </form>
</div>
