<div class="row  container-fliud justify-content-center ">
  <form class="form-signin col-md-4 frmRegistro " [formGroup]="formulario">
    <div class="sombra-border-titulo">
      <div class="d-flex justify-content-center divLogo"
           [style]="style">
        <img class="mb-4" [src]="baseUrl+'imagenes/imagenesSistema/LogoNombreBlanco.png'" alt="" width="300" height="300">
      </div>
      <h1 class="font-weight-normal text-center">REGISTRO</h1>
    </div>
    <div class="row">
      <div class="col">
        <label for="LblIdentificacion">Identificacion</label>
        <input type="Text" id="LblIdentificacion" name="identificacion" style="border-radius: 20px" class="form-control" placeholder="Identificacion" formControlName="id" [ngClass]="{'is-invalid':  control.id.touched && control.id.errors}"/>
        <div *ngIf="control.id.errors" class="invalid-feedback">
          <div *ngIf="control.id.errors.required">Se require la identificacion</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="LblName">Nombres</label>
        <input type="Text" id="LblName" class="form-control" style="border-radius: 20px" placeholder="Nombres" formControlName="name" [ngClass]="{'is-invalid':  control.name.touched && control.name.errors}"/>
        <div *ngIf="control.name.errors" class="invalid-feedback">
          <div *ngIf="control.name.errors.required">Se requiren los nombres</div>
        </div>
      </div>
      <div class="col">
        <label>Apellidos</label>
        <input type="text"  name="apellidos"  placeholder="Apellidos" style="border-radius: 20px" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':  control.lastName.touched && control.lastName.errors}"/>
        <div *ngIf="control.lastName.errors" class="invalid-feedback">
          <div *ngIf="control.lastName.errors.required">Se requiren los apellidos</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="inputPassword" >Celular</label>
        <input type="text" id="inputCelular" class="form-control" placeholder="301..." required style="border-radius: 20px" formControlName="phone" [ngClass]="{'is-invalid':  control.phone.touched && control.phone.errors}"/>
        <div *ngIf="control.phone.errors" class="invalid-feedback">
          <div *ngIf="control.phone.errors.required">Se require el celular</div>
        </div>
      </div>
    </div>
    <div>
      <label for="inputEmail">Nombre de usuario</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" style="border-radius: 20px" formControlName="address" [ngClass]="{'is-invalid':  control.address.touched && control.address.errors}"/>
      <div *ngIf="control.address.errors" class="invalid-feedback">
        <div *ngIf="control.address.errors.required">Se require el correo</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="inputPassword" >Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="password" required style="border-radius: 20px" formControlName="password" [ngClass]="{'is-invalid':  control.password.touched && control.password.errors}"/>
        <div *ngIf="control.password.errors" class="invalid-feedback">
          <div *ngIf="control.password.errors.required">Se require la contraseña</div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="col d-flex justify-content-center">
      <button class="btn btn-outline-dark" style="width: 50%" type="submit" (click)="onSubmit()"
              [disabled]="formulario.invalid">
        <span class="fas fa-sign-in-alt"></span>Registrar
      </button>
    </div>
    <hr style="visibility: hidden;">
  </form>
</div>
